<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.flowfence.service" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="edu.umich.flowfence.permission.BIND_FLOWFENCE_SERVICE"
                android:description="@string/bind_permission_desc"
                android:label="@string/bind_permission_label"
                android:protectionLevel="normal"/>
    <uses-permission android:name="edu.umich.flowfence.permission.BIND_FLOWFENCE_SERVICE"/>

    <permission android:name="edu.umich.flowfence.permission.DEBUG_FLOWFENCE_SERVICE"
                android:description="@string/debug_permission_desc"
                android:label="@string/debug_permission_label"
                android:protectionLevel="signature"/>
    <uses-permission android:name="edu.umich.flowfence.permission.DEBUG_FLOWFENCE_SERVICE"/>

    <application
        android:name=".FlowfenceApplication$Impl"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">

        <service
            android:name=".FlowfenceService"
            android:exported="true"
            android:permission="edu.umich.flowfence.permission.BIND_FLOWFENCE_SERVICE"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl00"
            android:process=":sandbox00"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl01"
            android:process=":sandbox01"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl02"
            android:process=":sandbox02"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl03"
            android:process=":sandbox03"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl04"
            android:process=":sandbox04"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl05"
            android:process=":sandbox05"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl06"
            android:process=":sandbox06"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl07"
            android:process=":sandbox07"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl08"
            android:process=":sandbox08"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl09"
            android:process=":sandbox09"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl0A"
            android:process=":sandbox0A"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl0B"
            android:process=":sandbox0B"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl0C"
            android:process=":sandbox0C"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl0D"
            android:process=":sandbox0D"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl0E"
            android:process=":sandbox0E"
            android:isolatedProcess="true"/>

        <service
            android:name="edu.umich.flowfence.sandbox.SandboxService$Impl0F"
            android:process=":sandbox0F"
            android:isolatedProcess="true"/>

        <meta-data
            android:name="edu.umich.flowfence.SANDBOX_COUNT"
            android:value="16" />

        <receiver android:name=".PackageInstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
